<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookreadingrepositorynoi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6613581f-1377-47f2-b1af-b4ef6a893fc5/resourcegroups/noiRG/providers/Microsoft.Web/sites/BookReadingRepositoryNoi</ResourceId>
    <UserName>$BookReadingRepositoryNoi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bookreadingrepositorynoi.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>